
.icon-crown-plus:before { content: '\e845'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */