*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #FFE3DC;
}
header{
    position: fixed;
    width: 100%;
    float: left;
}
.e{
    text-align: center; 
    background-color: black;
    padding: 10px;
    width: 100%;
}
a{
    color: white;
    font-size: 26px;
}
@media (min-width: 1080px){
    .menu a{
        font-size: 30px;
    }
}
@media (max-width: 830px){
    .menu a{
        display: flex;
        text-decoration: none;
        font-size: 17px;
    }
    .e{
        padding: 22px;
    }
}
@media (max-width: 370){
.e{
    padding: 24px;
}
}
.menu{
    height: 40px;
    background-color: black;
    width: 100%;
}
.menu ul{
  text-decoration: none;
  margin-left: 25%;
}
.menu ul li{
    color: white;
    margin-left: 30px;
    float: left;
    list-style: none;

}
.menu li{
}
.menu li a{
    text-decoration: none;
     font-family: "Century Gothic";
}
.menu li:hover a {
    background: #19c589;
    padding: 5px;
}
.container { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90%;
  flex-wrap: wrap;
  } 
.container > div { 
  padding: 18px;
  color: white;
  margin: 5px;
  border-radius: 20px;
  background: #124559;
  border: 5px solid #5F758E;
  text-align: center;
}
.container > div:nth-child(1){
    width: 27%;
    height: 220px;
    background-size: cover;
    background-image: url(../img/j.jpg);
    height: 200px;
    width: 200px;
    float: left;
}
.container > div:nth-child(2){
    width: 27%;
    height: 220px;
    background-size: cover;
    background-image: url(../img/a.jpg);
    height: 200px;
    width: 200px;
}
.container > div:nth-child(3){
    width: 27%;
    height: 220px;
    background-size: cover;
    margin-top: 100px;
    background-image: url(../img/b.jpg);
    height: 200px;
    width: 200px;
}
.container > div:nth-child(4){
    width: 27%;
    height: 220px;
    background-size: cover;
    margin-top: 100px;
    background-image: url(../img/c.jpg);
    height: 200px;
    width: 200px;
}
.container > div:nth-child(5){
    width: 25%;
    height: 220px;
    background-size: cover;
    margin-top: 100px;
    background-image: url(../img/d.jpg);
    height: 200px;
    width: 200px;
}
.container > div:nth-child(6){
    width: 25%;
    height: 220px;
    background-size: cover;
    margin-top: 100px;
    background-image: url(../img/e.jpg);
    height: 200px;
    width: 200px;
}
.container > div:nth-child(7){
    width: 25%;
    height: 220px;
    background-size: cover;
    margin-top: 100px;
    background-image: url(../img/f.jpg);
    height: 200px;
    width: 200px;
}
.container > div:nth-child(8){
    width: 25%;
    height: 220px;
    background-size: cover;
    margin-top: 100px;
    background-image: url(../img/g.jpg);
    height: 200px;
    width: 200px;
}
.container > div:nth-child(9){
    width: 25%;
    height: 220px;
    background-size: cover;
    margin-top: 100px;
    background-image: url(../img/h.jpg);
    height: 200px;
    width: 200px;
}
.container > div:nth-child(10){
    width: 25%;
    height: 220px;
    background-size: cover;
    margin-top: 100px;
    background-image: url(../img/i.jpg);
    height: 200px;
    width: 200px;
}
.container > div:nth-child(1),
.container > div:nth-child(2),
.container > div:nth-child(3),
.container > div:nth-child(4),
.container > div:nth-child(5),
.container > div:nth-child(6),
.container > div:nth-child(7),
.container > div:nth-child(8),
.container > div:nth-child(9),
.container > div:nth-child(10){
    margin-top: 150px;
}
h2{
    color: black;
}
.p{
    display: inline-block;
    position: inherit;
    color: white;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    }
